.nav {
    background-color: #671170;
    font-size: 2rem;
    margin-top: -50px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
   .row {
       padding: 0 !important;
   }
   .col {
    padding: 0 !important; 
   }
}

.nav-tabs {
        border-bottom: none !important;
        &:hover{
            cursor: pointer;
        }
    }