.projects-section {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    h5 {
        font-weight: bolder;
    }
    .project-description {
        color: grey;
    }
    p{
        font-size: 1.1rem;
        font-weight: bolder;
        color: white;
        
    }
    .project-description {
        font-size: 1.5rem;
        width: 80%;
        font-weight: 100px;
    }
}