.jumbotron {
    background-color: transparent !important;
    .heading {
        font-family: 'Lobster', cursive;
        color: rgb(214, 172, 218);
        display: flex;
        // justify-content: space-evenly;
        .name {
          margin: 0 -50px 0 30px;
        h1 {
            font-size: 15rem;
            // margin: 0 -45px 0 0px;
        }
      }
        .svg {
            position: relative;
            margin: -10px 0 0 -20px;
            .svg-code {
                position: absolute;
                text-align: center;
                color: white;
                font-size: 3.5rem;
                margin: -190px 0 0 370px;
                color: #671170;
                span {
                    color: #671170;
            }
                
            }
        }
    }
    .sub {
        font-size: 4rem;
        color: rgb(214, 172, 218);
    }
    .motto {
        font-size: 3rem;
        color: rgb(214, 172, 218);
    }
    .fa {
        font-size: 3rem;
        color: rgb(214, 172, 218);
        margin-right: 20px;
    }
}



//ART
  .rotate-90-cw {
	-webkit-animation: rotate-90-cw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-90-cw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2019-12-28 13:26:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


//NAME

.slide-in-left {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-2 20:38:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
